 
{% extends 'base.html' %}
{% import 'macros.html' as macro%}


<!-- Styles block -->

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}



<!-- Content block -->

  
{% block content %}
<body style="background-color: #EAEDED ;">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">


<h1 class="jumbotron" style="color: blue; font-family: 'Shadows Into Light', cursive; font-size: 80px; text-align: center;">Latest News</h1>


<!-- Science Sources -->
<div class="categories container" style="border: 2px solid black;
background-color: #212F3C;
margin-bottom: 10px;
border-radius: 5px;">
  <h3 style="color: #EAEDED;font-family: 'Courgette', cursive; font-size: 50px; "> General News</h3>
  <ul>
    {{ macro.displaySourceList(science)}}
  </ul>
</div>

<div class="footer">
  <p class="jumbotron" style="color: black; font-family: 'Shadows Into Light', cursive; font-size: 25px; text-align: center;"> &copy;<strong> 2019 Copy Right  All right reserved.</strong><p>
</div>
</body>
{% endblock %}
