
 
{% macro displaySourceList(source_list) %}

<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Courgette|Shadows+Into+Light&display=swap" rel="stylesheet">
<div class="row">
  {% for source in source_list %}
  <div class="col-xs col-sm-6 col-md-3 col-lg-3 source-card"
  style="border: 2px solid blueviolet;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #EAEDED;
  height: 300px;
  overflow: scroll;">
    <h3 style="color: #212F3C ; font-family: 'Cormorant Garamond', serif; font-size: 25px;font-style: bold;"> <strong> {{source.name}}</strong></h3>

    <p>{{source.description}}</p>
    <button type="button"> <strong><a href="{{source.url}}" style="color: #212F3C ; font-family: 'Cormorant Garamond', serif; font-size: 20px;font-style: bold;">{{source.name}} Homepage</a> </strong></button>

  </div>
  {% endfor %}
</div>



{% endmacro %}